#header {
    height: 100px;
	background-color: #fcc;
}

#main {
	height: 300px;
    background-color: #cc0;
}

#sub {
	height: 300px;
    background-color: #54c;
}

#footer {
	height: 100px;
    background-color: #c43e92;
}